{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Candidaturas</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    <div class="navbar">
        <a href="/vagas/">🏠 Início</a>
        <a href="/vagas/nova/">📢 Cadastrar Vaga</a>
        <a href="/candidatar/nova/">➕ Nova Candidatura</a>
        <a href="/candidatar/lista/">📋 Ver Candidaturas</a>
    </div>


    <div class="lista-container">
        <h2>📋 Lista de Candidaturas</h2>

        {% for c in candidaturas %}
            <div class="card">
                <h3>{{ c.nome }}</h3>
                <p><strong>Vaga:</strong> {{ c.vaga.titulo }}</p>
                <p><strong>Data de envio:</strong> {{ c.data_envio|date:"d/m/Y H:i" }}</p>
                <a class="btn-outline" href="{{ c.curriculo.url }}" target="_blank">📄 Ver Currículo</a>
            </div>
        {% empty %}
            <p>Nenhuma candidatura cadastrada ainda.</p>
        {% endfor %}
    </div>

</body>
</html>
