{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Vaga Cadastrada</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    <div class="navbar">
        <a href="/vagas/">🏠 Início</a>
        <a href="/vagas/nova/">📢 Cadastrar Vaga</a>
        <a href="/candidatar/nova/">➕ Nova Candidatura</a>
        <a href="/candidatar/lista/">📋 Ver Candidaturas</a>
    </div>

    <div class="success-container">
        <h2>✅ Vaga cadastrada com sucesso!</h2>
        <p>A vaga foi salva e já está visível para os candidatos.</p>
        <a class="btn" href="/vagas/">🔙 Ver Lista de Vagas</a>
    </div>

</body>
</html>
