{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Vagas Disponíveis</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    <div class="navbar">
        <a href="/vagas/">🏠 Início</a>
        <a href="/vagas/nova/">📢 Cadastrar Vaga</a>
        <a href="/candidatar/nova/">➕ Nova Candidatura</a>
        <a href="/candidatar/lista/">📋 Ver Candidaturas</a>
    </div>

    <div class="lista-container">
        <h2>📢 Vagas Disponíveis</h2>

        {% for vaga in object_list %}
            <div class="card">
                <h3>{{ vaga.titulo }}</h3>
                <p><strong>Empresa:</strong> {{ vaga.empresa }}</p>
                <p><strong>Local:</strong> {{ vaga.local }}</p>
                <p><strong>Salário:</strong> R$ {{ vaga.salario }}</p>
                <p><strong>Descrição:</strong> {{ vaga.descricao }}</p>
            </div>
        {% empty %}
            <p>Nenhuma vaga cadastrada ainda.</p>
        {% endfor %}
    </div>

</body>
</html>
