{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Cadastrar Nova Vaga</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

    <div class="navbar">
        <a href="/vagas/">🏠 Início</a>
        <a href="/vagas/nova/">📢 Cadastrar Vaga</a>
        <a href="/candidatar/nova/">➕ Nova Candidatura</a>
        <a href="/candidatar/lista/">📋 Ver Candidaturas</a>
    </div>

    <div class="form-container">
        <h2>📢 Cadastro de Nova Vaga</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">✅ Cadastrar Vaga</button>
        </form>
    </div>

</body>
</html>
